.container{
    position: relative;
    height: 30px;
    width: 30px;
}
.icon{
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 10%;
    width: 25px;
    height: 25px;
    fill: rgb(255, 255, 255);
    opacity: 0;
}
.checkbox{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 2;
    width: 30px;
    height: 30px;
    margin: 0; 
    opacity: 0;
}
.mark{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: var(--color-bg);
    filter: grayscale(0.8);
    opacity: 0.8;
    
    border-radius: 8px;
    transition: border 0.1s;
   
}
.checkbox:checked ~ .mark{
    background-color: var(--color-bg);
    filter: grayscale(0);
    opacity: 1;
   
}
.checkbox:focus ~ .mark{
    outline: 3px solid rgb(195, 195, 195);
}
.checkbox:checked ~ .icon{
    opacity: 1;
}
.checkbox:checked ~ .mark:after {
    display: block;
}
.checkbox:disabled{
    cursor: auto;
}
.checkbox:disabled ~ .mark{
    filter:opacity(0.7);
    cursor:auto;
}